.list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  margin-bottom: 10px;
}

.list-empty_state {
  background-color: var(--bg-color);
  width: inherit;
  text-align: center;
}

.list-clear {
  width: fit-content;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}
