.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.modal-container {
  text-align: center;
  width: 550px;
  height: 400px;
  padding: 12px;
}

.emoji-container {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 12px;
}

.emoji-result {
  font-size: 16px;
  padding-left: 8px;
}

.emoji-result-block {
  padding: 32px;
  margin: 0 auto;
  text-align: center;
}

.icon {
  font-size: 32px;
  cursor: pointer;
}

.icon:hover {
  color: lightcoral;
}

.icon-winner {
  font-size: 48px;
  color: lightgreen;
}

.icon span {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0;
}

.show-result-btn {
  padding: 8px 12px;
  background-color: #7a8288;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #fff;
}

.reset-result-btn {
  padding: 8px 12px;
  background-color: #7a8288;
  border: 1px solid transparent;
  border-radius: 10px;
  color: #fff;
}
