.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0 15px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-color);
  height: 50px;
}

.link-wrapper {
  border-right: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.nav-link-wrapper {
  height: inherit;
}

.nav-link:focus {
  text-decoration: none;
  color: var(--link-active-color);
}

.link {
  color: inherit;
  height: 100% !important;
  display: inline-flex;
  align-items: center;
}

.link-wrapper .nav-link:hover {
  background-color: var(--link-hover-color);
  cursor: pointer;
  color: inherit;
}

.toggler-theme {
  color: inherit;
  background-color: inherit;
  border: none;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
